.ColorPicker {
  button {
    border: none;
    padding: 1em;

    cursor: pointer;
  }

  .salmon {
    background-color: salmon;
  }

  .gold {
    background-color: gold;
  }

  .blue {
    background-color: cadetblue;
    color: white;
  }
}
